*{
  margin: 0;
  padding: 0;
}

.body{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor2{
  display: flex;
  justify-content: flex-end;
}

.contenedor3{
  display: flex;
  justify-content: center;
}