.contenedor{
    display: flex;
    margin: 15px 0;
    border-radius: 15px; 
}

.select{
    padding: 10px;
    margin: 5px;
    font-size: 17px;
    background-color: #00AB66;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: #ffff;
    cursor: pointer;
}

.select:hover{
    background-color: #1dbe7e;
}

.select:active{
    background-color: #41ce95;
}

.formulario-active{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.219);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0;
    top: 0;
}

.formulario-active label{
    margin-bottom: 3px;
}

.formulario-active input{
    margin-bottom: 8px;
}

.conteinerEditar{
    width: 400px;
    height: 500px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 11px 18px 37px 8px rgba(0,0,0,0.47);
    border-radius: 15px;
}

.formulario-desactive{
    display: none;
}

.input{
    width: 80%;
    padding: 3px;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    background-color: #ededed;
    border: 1px solid #ededed;
    font-size: 17px;
}

.input:hover{
    border: 1px solid #000;
}



.date{
    width: 40%;
}

.input-button{
    width: 100px;
    margin: 0 auto 5px auto;
    background-color: #00AB66;
    border: none;
    border-radius: 10px;
    color: #ffff;
    cursor: pointer;
    font-size: 17px;
    padding: 5px;
}

.input-button:hover{
    background-color: #1dbe7e;
}

.input-button:active{
    background-color: #41ce95;
}

.close-3{
    position: relative;
    left: 181px;
    top: -1px;
    background-color: #D11A2A;
    color: #ffff;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.close:hover{
    background-color: #da424f;
}

h3{
    margin: 20px auto;
}

