.input-invalido{
    width: 80%;
    padding: 3px;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    background-color: #dfc6c6;
    border: 1px solid #f3a5a5;
    font-size: 17px;
}

.formulario-active .input-invalido:last-child:active{
    border: 1px solid rgb(61, 61, 61);
    background-color: antiquewhite;
}

.input-success{
    width: 80%;
    padding: 3px;
    margin: 0 auto 5px auto;
    border-radius: 5px;
    background-color: #c3ee9b;
    border: 1px solid #a9f364;
    font-size: 17px;
}



.formulario-active .input-success:last-child{
    width: 100px;
    border: 1px solid #000;
    border-radius: 10px;
}

.formulario-active .input-success:last-child:active{
    border: 1px solid rgb(61, 61, 61);
    background-color: antiquewhite;
}

.span-invalido{
    margin: 5px auto;
    border: 1px solid rgb(161, 27, 27);
    padding: 3px;
    color: rgb(161, 27, 27);
}
